[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = asmorger@live.com
	name = Andrew Morger
[pull]
	rebase = true
[init]
	defaultBranch = main
