# This file is written in HOCON (Human-Optimized Config Object Notation) format. 
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  b {
    description: Buffer/Tabs Navigation...
    bindings {
      b {actionId: RecentFiles, description: Recent Files}
      B {actionId: RecentChangedFiles, description: Recent Changed Files}
      d {actionId: CloseContent, description: Close}
      D {actionId: CloseAllEditors, description: Close All}
      n {actionId: NextTab, description: Next Tab}
      i {actionId: PreviousTab, description: Previous Tab}
      l {actionId: RecentLocations, description: Recent Locations}
      O {actionId: CloseAllEditorsButActive, description: Close Other}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
      x {actionId: NewScratchBuffer, description: Scratch Buffer}
      "[" {actionId: Back, description: Back}
      "]" {actionId: Forward, description: Forward}
    }
  }
  t {
    description: Toggle...
    bindings {
      a {actionId: Annotate, description: Annotate Git Blame}
      b {actionId: ToggleLineBreakpoint, description: Line Breakpoint}
      t {actionId: ActivateTerminalToolWindow, description: Terminal}
      T {actionId: HideActiveWindow, description: Hide Terminal}
      e {actionId: ActivateProjectToolWindow, description: Show Explorer}
      E {actionId: HideSideWindows, description: Hide Explorer}
      d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
      p {actionId: TogglePresentationMode, description: Presentation Mode}
      z {actionId: ToggleZenMode, description: Zen Mode}
      w {actionId: HideAllWindows, description: Show/Hide All Windows}
    }
  }
}
